.button_structure {
  padding: 17px 42px;
  will-change: transform;
  animation: pulsarButton 4.5s infinite ease-in-out;
}


.button_structure::before {
  background-color: #DDB715;
  color: #000;
  left: auto;
  right: 0;
}

@keyframes pulsarButton {
  0% {
      transform: scale(0.9);
  }
  30% {
      transform:scale(1);
  }
  60% {
    transform:scale(0.9);
  }
  80% {
    transform:scale(1);
  }
  100% {
    transform:scale(0.9);
  } 
}