.button_form {
  margin: 30px auto;
  color: black;
  background-color: #DDB715;
}

.button_form::after {
  background-color: #DDB715;
}

.button_form::before {
  background-color: rgb(255, 0, 98);
}

.button_form:hover {
  color: white;
}