.slider__slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.slider__slide-arrow:hover {
  opacity: 1;
  transform: scale(1.1);
}