.slider {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 65%;
  height: 70%;
  max-width: 797px; 
}

@media screen and (max-width: 1199px) {
  .slider {
    width: 80vw;
  }
}

@media screen and (max-width: 575px) {
  .slider {
    width: 98%;
  }
}