.slider {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 65vw;
  height: 70vh;
  max-width: 797px;
  max-height: 520px;
  
  border-top: none;
}

@media screen and (max-width: 1199px) {
  .slider {
    width: 80vw;
  }
}

@media screen and (max-width: 575px) {
  .slider {
    width: 98%;
  }
}