.order__container {
  display: flex;
  justify-content: center;
  gap: 8%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .order__container {
    flex-direction: column;
  }
}